*{
    text-decoration: none;
    margin: 0;
    transition: all 0.3s;
}

a{
    color: white;
}

body{
    font-family: 'Almarai', sans-serif;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

.index-header{
    padding: 10px;
    text-align: center;
    width: 99vw;
    margin: 0 auto;
    height: fit-content;
    background-color: white;
    border-bottom: 2px solid #6d90b9;
    display: grid;
    grid-template-columns: 15% 15% 15%;
    justify-items: center;
    justify-content: center;
}

.index-header .header-item{
    background-color: #6d90b9;
    padding: 10px;
    margin: 0px 20px;
    border-radius: 20px;
    border: 2px solid #6d90b9;
}

.index-header .header-item:hover{
    background-color: white;
    color:#6d90b9;
}

.index-header p{
    font-size: 24px;
}

.index-header img{
    width: 150px;
}

body .welcome{
    background-color: #6d90b9;
    background-image: url("gfx/ramadan.png");
    background-size: contain;
    /* background-image: linear-gradient(#6d90b9, white 90%); */
    text-align: center;
    font-size: 30px;
    padding: 50px 0px 200px 0px;
    line-height: 100px;
}

body .welcome p{
    margin: 50px;
}

body .welcome img{
    width: 200px;
    margin: 50px;
}

body .play-button{
    background-color:#6d90b9;
    border: 2px solid #6d90b9;
    font-size: 42px;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px 0px;
}

body .play-button:hover{
    background-color: white;
    color:#6d90b9;
    font-weight: bolder;
}

body .games-container{
    text-align: center;
    padding: 50px;
    margin: 20px;
    background-color: #6d90b9;
    border-radius: 20px;
}

body .games-container .game{
    display: inline-block;
    margin: 10px;
}

body .games-container input{
    display: none;
}

body .games-container input:checked + label > .game .game-background{
    border-top: 5px solid #6d90b9;
    border-left: 5px solid #6d90b9;
    border-right: 5px solid #6d90b9;
}

body .games-container input:checked + label > .game .game-title{
    border-bottom: 5px solid #6d90b9;
    border-left: 5px solid #6d90b9;
    border-right: 5px solid #6d90b9;
    background-color: #6d90b9;
    color: white;
}

body .games-container .game-background{
    display: inline-block;
    background-color: #e1efff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    border-radius: 30px 30px 0px 0px;

    border-top: 5px solid #e1efff;
    border-left: 5px solid #e1efff;
    border-right: 5px solid #e1efff;
}

body .games-container .game-title{
    background-color: #e1efff;
    color:#6d90b9;
    font-size: 24px;
    padding: 10px 20px;
    text-align: center;
    margin-top: -3px;
    border-radius: 0px 0px 30px 30px;
    border-top: 2px solid #6d90b9;

    border-bottom: 5px solid #e1efff;
    border-left: 5px solid #e1efff;
    border-right: 5px solid #e1efff;
}

body .teams-container{
    text-align: center;
    padding: 50px;
    border-top: 2px solid #6d90b9;
    border-bottom: 2px solid #6d90b9;
    margin: 20px;
    font-size: 50px;
}

body .teams-container .team{
    display: inline-block;
    padding: 50px;
    line-height: 50px;
    margin: 0px 50px;
    background-color: #6d90b9;
    border-radius: 20px;
}

body .teams-container .team input{
    font-size: 40px;
    margin: 30px 0px;
    border-radius: 20px;
    padding: 10px 20px;
}

body .question{
    display: none;
}

body .category-container{
    padding: 50px;
    margin: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    border-top: 2px solid #6d90b9;
    border-bottom: 2px solid #6d90b9;
}

body .category-container .category{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 40px auto;
    text-align: center;
}

body .category-container .category-background{
    width: 200px;
    height: 200px;
    border: 2px solid #6d90b9;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body .category-container .points{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-gap: 5px 0px;
}

body .category-container .points .point{
    font-size: 26px;
    padding: 10px;
    background-color:#6d90b9;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100px;
    border: 3px solid rgba(0, 0, 0, 0);
}

body .category-container .points .point:hover{
    background-color:white;
    border: 3px solid #6d90b9;
    font-size: 30px;
}

body .question-container{
    margin: 20px;
    height: 80vh;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    grid-template-rows: auto auto auto;
}

body .question-container > div{
    margin: 10px;
    padding: 20px;
}

body .question-container p{
    font-size: 32px;
}

body .question-container .question-timer{
    background-color: #6d90b9;
}

body .question-container .question-timer .questionn{
    text-align: right;
}

body .question-container .question-timer{
    display: grid;
    grid-template-columns: 90% 10%;
    border-bottom: 2px solid #6d90b9;
    text-align: center;
    height: fit-content;
}

body .question-container .question-image{
    height: 450px;
}

body .question-container .question-image img{
    height: 450px;
}

body .question-container .answer-reveal{
    display: grid;
    grid-template-columns: 32% 35% 32%;
    border-top: 2px solid #6d90b9;
    text-align: center;
    height: 70px;
    background-color: #6d90b9;
}

body .question-container .team-scores{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 15px;
    font-size: 15px;
}

#answer{
    opacity: 0;
}

body .question-container .answer-reveal .reveal p{
    font-size: 30px;
}

body .question-container .answer-reveal .space p{
    font-size: 30px;
}

body .main-container{
    
    display: grid;
    grid-template-columns: 10vw 79vw 10vw;
    grid-template-rows: 100vh;
}

body .teams-ingame{
    padding: 30px;
    margin: 20px;
    text-align: right;
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20%;
    justify-content: center;
    font-size: 30px;
}

body .teams-ingame .team-ingame{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20%;
    justify-content: center;
    background-color:#6d90b9;
    border: 2px solid #6d90b9;
    border-radius: 20px;
    padding: 25px;
}

body #fourth .teams-ingame .team-ingame #team1, body #fourth .teams-ingame .team-ingame #team2{
    margin: 0px 5px;
    padding: 5px;
}

.about-intro{
    font-size: 36px;
    margin: 10px 0px;
    padding: 50px;
    line-height: 100px;
    background-color:#6d90b9;
}

.about-members{
    padding: 20px;
    line-height: 30px;
    margin: 10px;
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
}

.about-members .member{
    padding: 20px;
    margin: 20px;
    width:fit-content;
    background-color: #6d90b9;
    border-radius: 20px;
}

.about-members .member-image img{
    border-radius: 100%;
    border: 2px solid white;
    width: 200px;
    background-color: #6d90b9;
}

.about-members .member-socials{
    margin-top: 10px;
}

.about-members .member-socials img{
    width: 32px;
    margin: 0px 5px;
}

#first{
    display: block;
}

#second{
    display:none;
}

#third{
    display:none;
}

#fourth{
    display:none;
}

#fifth{
    display:none;
}

#sixth{
    display: none;
}
